<%= form_for(activity) do |f| %>
  <div class: "form-group">
    <%= f.label :activity_name %>
    <%= f.text_field :activity_name, class: 'form-control' %><br>
    <%= f.label :activity_level %>
    <%= f.select :activity_level, [["1",1],["2",2],["3",3],["4",4],["5",5]] ,class: 'form-control' %><br>
    <%= f.label :activity_price %>
    <%= f.number_field :activity_price ,class: 'form-control' %><br>
    <%= f.label :activity_time %>
    <%= f.select :activity_time, [["一日", 1],["半日", 0.5], ["２，３時間", 0.3], ["１時間程度",0.1]] ,class: 'form-control' %><br>
  </div>

  <%= f.submit "#{button}", class:"btn btn-default" %><br>
<% end %>
